body {
  margin: 0;
  height: 100vh;
  background-color: #000;
}
span {
  background-image: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-256.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}